
<form [formGroup]="form">
  <div class="first-line">
    <div class="wrapper">
      <label for="title">Title</label>
      <input type="text" id="title" placeholder="Title of the item" formControlName="title">
    </div>

    <div class="wrapper">
      <label for="price">Price</label>
      <input type="number" id="price" placeholder="Price of the item" formControlName="price">
    </div>
  </div>

  <div class="wrapper">
    <label for="description">Description</label>
    <textarea id="description" placeholder="Description of the item" formControlName="description"></textarea>
  </div>

  <div class="wrapper" id="icon-wrapper">
    <label for="icon">Icon class</label>
    <input type="text" id="icon" placeholder="FontAwesome class name" formControlName="icon">
  </div>
  <div class="wrapper">
    <input type="button" value="Submit" class="button" (click)="onSubmit()" [disabled]="form.invalid">
    <input type="button" value="Cancel" class="button" (click)="onClose()">
  </div>

</form>
