.cart-items{
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-gap: 30px;
  padding:30px;

}
.total{
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #000000;
  padding: 20px;
  p{
    margin-right: 20px;
    font-size: 20px;

  }
}

//1226
@media only screen and (max-width: 1226px) {
  .cart-items{
    grid-template-columns: 1fr 1fr;
  }
}
