<header>
  <nav>
    <ul>
      <li><a routerLink="/items-list" routerLinkActive="activeRoute">Items list</a></li>
      <ng-container *ngIf="!userLoggedIn">
        <li><a routerLink="/register" routerLinkActive="activeRoute">Register</a></li>
      </ng-container>
      <ng-container *ngIf="!userLoggedIn">
        <li><a routerLink="/login" routerLinkActive="activeRoute">Log in</a></li>
      </ng-container>
      <ng-container *ngIf="userLoggedIn">
        <li><a routerLink="/cart" routerLinkActive="activeRoute">Cart({{cartCount}})</a></li>
      </ng-container>
      <ng-container *ngIf="userLoggedIn">
        <li (click)="authService.logOut()"><a routerLink="/login">Log out</a></li>
      </ng-container>
    </ul>
  </nav>
</header>

<div class="router-view">
  <router-outlet></router-outlet>
</div>
